.body {
    background-color: blue; /* Blue background */
}
.Anime {
    text-align: center;
  }
  
  .Anime h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .Anime-poster {
    display: inline-block;
    margin: 10px;
    width: 200px; 
    height: 300px; 
    overflow: hidden;
    border-radius: 10px; 
  }
  
  .Anime-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px; 
    transition: transform 0.3s ease-in-out;
  }
  
  .Anime-poster img:hover {
    transform: scale(1.05); 
  }
  