.Anime {
    text-align: center;
  }
  
  .Anime h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .Anime-poster {
    display: inline-block;
    margin: 10px;
    width: 200px; /* You can adjust the width as needed */
    height: 300px; /* Adjust the height based on your image aspect ratio */
    overflow: hidden;
    border-radius: 10px; /* Optional: To make rounded corners */
  }
  
  .Anime-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire box */
    border-radius: 10px; /* Optional: Rounded corners for the images */
    transition: transform 0.3s ease-in-out;
  }
  
  .Anime-poster img:hover {
    transform: scale(1.05); /* Zoom effect on hover */
  }
  